:root {
    --min-font-size: 15px;
}

.f-mx0_6 {
    font-size: calc(max(12px, 0.7vw)) !important;
}

.f-mx0_8 {
    font-size: calc(max(14px, 0.85vw)) !important;
}

.f-mx1 {
    font-size: calc(max(var(--min-font-size), 1.05vw)) !important;
}

.f-mx1_2 {
    font-size: calc(max(16px, 1.15vw)) !important;
}

.f-mx1_5 {
    font-size: calc(max(17px, 1.25vw)) !important;
}


.f-mx2 {
    font-size: calc(max(22px, 1.56vw)) !important;
}

.f-0_8 {
    font-size: calc(13px + 0.85vw) !important;
}

.f-1 {
    font-size: calc(var(--min-font-size) + 1.07vw) !important;
}

.f-1_5 {
    font-size: calc(var(--min-font-size) + 1.55vw) !important;
}

.f-2 {
    font-size: calc(var(--min-font-size) + 2.05vw) !important;
}

.f-2_5 {
    font-size: calc(var(--min-font-size) + 2.55vw) !important;
}

.f-3 {
    font-size: calc(var(--min-font-size) + 3.05vw) !important;
}

.mr-1 {
    margin: 1vh 0 !important;
}

.mr-2 {
    margin: 2vh 0 !important;
}

.bold {
    font-weight: bold;
}