header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    height: var(--header-height);
    min-height: 60px;
    width: 100%;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    overflow: hidden;
}

.header-item {
    height: 100%;
    text-align: center;
    padding: 5px;

    color: white;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.header-item-reg {
    height: 100%;
    text-align: center;
    padding: 10px;

    color: black;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.tg-logo-header {
    margin-left: max(40px, 5vw);
    height: 70%;
    cursor: pointer;
}

.header-logo-big {
    height: 80%;
    margin-right: 150px;
}

.header-item,
.header-logo {
    display: flex;
    align-items: center;
}

.fokus-reg {
    border-radius: 30px;
    background: white;
    height: 30%;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .nav-button {
        position: absolute;
        left: 20px;
        padding: 8px;
        width: 30px;
        height: 30px;
    }
    .nav-button:hover {
        cursor: pointer;
    }

    .header-logo-small {
        height: 70%;
    }
}

#mobile-nav-bar {
    position: absolute;
    background-color: var(--navbar-background-color);
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow: hidden;
    left: -100%;

    transition: left 0.3s ease;

    .content {
        color: white;
        padding-top: var(--header-height);

        ul {
            padding-left: 30px;
            padding-right: 30px;
            margin-bottom: 0;
        }
        li {
            display: flex;
            height: 40px;
            list-style-type: none;
            border-bottom: 1px solid #9f9f9f;
            align-items: center;
            position: relative;

            .li-logo {
                position: absolute;
                right: 0;
                height: 40%;
            }
            .tg-logo {
                height: 80%;
                margin-right: 10px;
            }
        }

        .ml-30 {
            margin-left: 30px;
        }

        .lang {
            cursor: pointer;
            margin-right: 30px;
            height: 40px;
            display: flex;
            align-items: center;
        }

        .navbar-action {
            cursor: pointer;
        }
        .navbar-action:active {
            background-color: #464646;
        }
    }
}