
.parallax__group-7 {
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 0 0;
    position: relative
}

.parallax__group-7 {

    .img_7,
    .img_7_mobile{
        width: 100%;
        height: auto;
    }

    .link {
        position: absolute;
        left: 8%;
        right: 40%;
        z-index: 109032439;
        top: 37%;
        bottom: 27%;
    }
}

@media screen and (max-width: 600px) {
    #slide-7_content {
        display: none;
    }
}
@media screen and (min-width: 601px) {
    #slide-7_content-mobile {
        display: none;
    }
}
