.parallax__group-4 {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    padding: 40px var(--page-content-padding);
    padding-bottom: 0;
}

.parallax__group-4 {
    .title {
        font-weight: bold;
        color: white;
        margin-bottom: 3vmax;
    }

    .content {
        display: block;
        width: 100%;
        height: auto;
    }
    .content-mobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .parallax__group-4 {
        padding: 40px var(--page-content-padding-mobile) 0 var(--page-content-padding-mobile);
    }
}

@media screen and (max-width: 600px) {
    .parallax__group-4 {
        height: 120vw;

        .content {
            display: none;
        }
        .content-mobile {
            position: absolute;
            left: -30%;
            display: block;
            width: 125%;
            height: auto;
        }
    }
}

.div-button-u {
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-u {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 20%;
    color: white;
    background: radial-gradient(65.24% 82.04% at 75.37% 92.62%, #0EE5CD 0%, #0094F1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 50px rgba(14, 229, 205, 0.5);
    border-radius: 100px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .div-button-u {
        height: 10vw;
    }
    .button-u {
        width: 40%;
        height: 60%;
    }
}