.parallax__group-time-left {
    height: auto;
    padding: max(5vh, 40px) var(--page-content-padding);
}

.main-time {
    display: flex;
}

.div-button-tez {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-tez {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 40%;
    margin-right: 35%;
    margin-top: 5%;
    color: white;
    background: radial-gradient(65.24% 82.04% at 75.37% 92.62%, #0EE5CD 0%, #0094F1 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 0px 50px rgba(14, 229, 205, 0.5);
    border-radius: 100px;
    cursor: pointer;
}

.parallax__group-time-left {
    display: flex;
    flex-direction: column;
    gap: max(2vh, 15px);

    .title {
        color: white;
    }
    .time-left {
        display: flex;
        width: 80%;
        height: 9vw;
        align-items: center;
    }

    @media screen and (max-width: 999px) {
        .time-left {
            width: 100%;
            height: 100px;
        }
    }

    .send-docs {
        width: min-content;
        background: var(--linear-gradient-1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
        text-wrap: nowrap;
    }
}

@media screen and (max-width: 750px) {
    .parallax__group-time-left {
        padding: max(2vh, 20px) var(--page-content-padding-mobile)
    }
}

@media screen and (max-width: 999px) {
    .main-time {
        flex-direction: column;
    }
    .div-button-tez {
        width: 100%;
    }
    .button-tez {
        width: 30%;
        height: 30px;
        margin-right: 0;
        margin-top: -2%;
        margin-bottom: 3%;
    }
    .parallax__group-time-left {
        height: auto
    }
}
